html {
  position: relative;
  min-height: 100%;
}
	
body {
  min-height: 2000px;
  padding-top: 70px;
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


.container .text-muted {
  margin: 20px 0;
}